<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="">
	<div class="container">
		<div class="img">
            <br>
            <h2>DISEASE PREDICTION SYSTEM</h2>
            <br>
            <k>This website where one can select the symptoms he/she is facing and accordingly the system shall
            predict a certain disease or condition he/she might be suffering from.</k>
		</div>
		<div class="login-content">
            <div class="card">
                <div class="container2">
                    <a href="/select">Select Symptoms</a>
                  </div>
                  <br>
                <img src="static/download.png" alt="Avatar" style="width:100% ; align-content: center;padding-left: 10%;padding-right: 10%;">
                </div>
			<!-- <form action="\login">  
                <h2 class="title">Welcome to sr-jr Portal</h2>
				<img src="static/img/google.png"><br>
            	<input type="submit" class="btn" value="Login with Google">
            </form>
        </div> -->
    </div>
    <script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>